@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;   
    display: flex;
    min-height: 100vh;
    align-items: center;
    
}

.container {
    max-width: 300px;
    margin: 0 auto;
}

#card {
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 15px;
    text-align: center;
    margin: 20px 20px;
}

img{
    width: 100%;
    border-radius: 15px;
}

h2 {
    padding: 10px 10px;
    font-size: 20px;
}

p {
    padding: 5px 3px;
    color: hsl(216, 15%, 48%);
}