* {
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
}

.container {
    max-width: 350px;
    margin: 0 auto;
}

#card {
    background-color: hsl(0, 0%, 100%);
}

img{
    width: 100%;
}

